<div class="py4 card-wrapper">
    <mat-card class="">
        <mat-card-title>
            <div class="mb2">
                My Songs
            </div>
        </mat-card-title>

        <mat-card-content>

            <div *ngIf="dataSource && dataSource.length; else noSongs">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="artist">
                        <th mat-header-cell *matHeaderCellDef>Artist</th>
                        <td mat-cell *matCellDef="let element">{{element.artist}}</td>
                    </ng-container>

                    <ng-container matColumnDef="genre">
                        <th mat-header-cell *matHeaderCellDef>Genre</th>
                        <td mat-cell *matCellDef="let element">{{element.genre ? element.genre : '-'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="year">
                        <th mat-header-cell *matHeaderCellDef>Year</th>
                        <td mat-cell *matCellDef="let element">{{element.year ? element.year : '-'}}</td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element" class="action-link">
                            <button (click)="onEditClick(element)" mat-icon-button>
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button (click)="onDeleteClick(element)" mat-icon-button>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                    <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
                        *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </div>

            <ng-template #noSongs>
                <div class="no-songs flex items-center justify-center">
                    No Songs Yet
                </div>
            </ng-template>


        </mat-card-content>
    </mat-card>
</div>

<!-- <div>
    <h3>
        Click Log
    </h3>
</div>

<div *ngIf="!clickedRows.size">
    Clicked rows will be logged here
</div>

<ul>
    <li *ngFor="let clickedRow of clickedRows">
        Clicked on {{clickedRow.name}}
    </li>
</ul> -->